<section>
    <%menus.all.each do |menu|%>
        <li class="MenuItem">
            <%=link_to menu_path(menu.id), class: "Menu-link" do%>
            <label class="Menu-container">
                <p class="Menu-text"><%= menu.menu_item %></p>
                <%=image_tag 'GOTO.svg', style: 'height:10vw;width:5vw;margin-bottom:20px;'%>


            </label>
            <%end%>
        </li>
    <%end%>
</section>
