<h2>Activate Today's Menus</h2>
 <div>
   <%Menu.all.each do |menu|%>
     <li>
       <%= form_with( url:menu_path(menu.id), method: "put" ) do %>
         <label class="Menu-container">
           <%= check_box_tag 'active', '1', checked = menu.active, class: 'Menu-checkbox', onclick: 'this.form.submit()' %>
           <p class="Menu-text"><%= menu.menu_name %></p>
         </label>
       <% end %>
     </li>
   <%end%>
 </div>