 <article>
  <section class="Menu">
  <%@menus.each do |menu|%>
    <li>
      <%=link_to menu_path(menu.id),class: "Menu-link" do%>
        <label class="Menu-container">
          <p class="Menu-text"><%= menu.menu_name %></p>
          <%=image_tag 'trashcan1.svg' %>
        </label>
      <%end%>
    </li>
  <%end%>
  </section>
 </article>