<div class="Cafeteria-img">
   <div class="Cafeteria-auth">
     <p> <%= link_to "Login", new_sessions_path , class:"Cafeteria-auth-url"%> </p>
     <p> <%= link_to "Register", new_user_path , class:"Cafeteria-auth-url"%> </p>
   </div>
   <div class="Cafeteria-text">
     <h1>HP CAFE </h1>
     <p>Welcome to the chamber of flavours !</p>
   </div>
 </div>
