body {
    font-family: sans-serif;
    line-height: 1;
    background-color: #fbfafc;
}

.Home-title {
    font-size: 20px;
    margin-bottom: 30px;
}

.Home-authenticate {
    font-size: 16px;
    margin-bottom: 20px;
}

.User-Header {
    padding: 10px;
    font-size: 14px;
    margin-bottom: 10px;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
}

.NavBar-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: flex-end;
    padding: 24px;
    align-items: center;
    font-size: larger;
}

.NavBar {
    background-color: lightskyblue;
    border: 3px solid #fbfafc;
    border-radius: 6px;
}

.NavBar-content {
    padding-right: 10px;
    text-decoration: none;
    color: black;
}

.NavBar .fa {
    color: black;
    padding-right: 8px;
}

.NavBar-item-wrapper {
    margin-right: 20px;
}

.NavBar-items> :nth-child(1) {
    margin-right: auto;
}

.Body-content {
    width: 500px;
    margin: 50px auto;
}