.MenuPage-title {
    font-size: 48px;
    line-height: 1.5;
}

.Menu-text {
    font-size: x-large;
    line-height: 1.4;
    color: black;
    text-align: center;
}

.Menu-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.Menu-link {
    text-decoration: none;
}

.Menu-form {
    display: flex;
}

.Menu-checkbox {
    width: 16px;
    height: 16px;
    background: #ffffff;
    border: 1px solid #bfb8cc;
    border-radius: 4px;
}

.AddMenu-name {
    padding: 6px;
    margin-right: 10px;
    margin-left: 20px;
}