.MenuItem-container {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.MenuItem-name {
    font-size: 30px;
    padding-left: 20px;
}

.MenuItem-price {
    padding-left: 20px;
    font-size: 15px;
}

.MenuItem {
    padding-top: 20px;
    padding-left: 20px;
}

table {
    width: 100%;
    font-size: large;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
}

.Table-header {
    color: darkgrey;
    font-weight: bold;
}

.Table-button {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    padding: 6px;
}

.Table-button:hover {
    background-color: #e7e7e7;
}