body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 60px;
    text-align: center;
}

.MenuPage-title {
    font-size: 48px;
    line-height: 1.5;
}

.Menu-text {
    font-size: 24px;
    line-height: 1.4;
    padding-left: 10px;
}

.Menu-link {
    text-decoration: none;
}

.Menu-form {
    display: flex;
}

.Menu-container {
    display: flex;
    text-decoration: none;
}