body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 60px;
    text-align: center;
}

.MenuPage-title {
    font-size: 48px;
    line-height: 1.5;
}

.Menu-text {
    font-size: 24px;
    line-height: 1.4;
    padding-left: 10px;
}

.MenuItem {
    font-size: 10px;
    line-height: 1.1;
    padding-left: 100px;
    width: 200px;
    border: 10px solid lightskyblue;
    padding: 50px;
    margin-left: 400px;
    text-align: center;
}

.Menu-link {
    text-decoration: none;
}

.Menu-container {
    display: flex;
    text-decoration: none;
}

.MenuItem-container {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.MenuItem-name {
    font-size: 30px;
    padding-left: 20px;
}

.MenuItem-price {
    padding-left: 20px;
    font-size: 15px;
}