.Orders-container {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}

.Order-user-name,
.Order-user-id,
.Order-id {
    padding-left: 4px;
    padding-right: 4px;
}